@media screen and (max-width: 910px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-title {
        width: 100%;
        text-align: center;

    }

    .nav-items {
        width: 100%;
        margin-top: 30px;

    }

    /* banner style here  */

    .banner-container {
        flex-direction: column-reverse;
        width: 100%;
    }


    .banner-text {
        width: 70%;
        padding-top: 40px;
    }

    .banner-img {
        width: 60%;
    }

    /* /* banner section ends here   */



    .icon-container {
        width: 100%;
        flex-wrap: wrap;
    }

    .icon-container a img{
        width: 80%;
        display: block;
        margin: auto;
    }

    /* icon section end here  */

    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
}









@media screen and (max-width: 450px) {
    .nav-items {
        flex-direction: column;
    }

    .nav-items a {
        padding-bottom: 10px;
        font-size: 20px;
        padding-right: 0px;
    }


    /* banner style  */

    .banner-img {
        width: 100%;
    }

    .banner-text {
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }

    /* banner style ends here  */
    .icon-container a {
        padding: 5px;
    }


    .icon-container a img {
        width: 70%;
        display: block;
        margin: auto;
    }

    /* icon conteinar end here  */

    .card-container{
        grid-template-columns: 1fr;
    }
}